<html>
    

    <body>
        <%- include('headers/header', {user}); %>
        
        <main>
            <%- include('articles/articlespromo', {user, articles}); %>
        </main>

    </body>
</html>
