<html>
    <body>
        <%- include('headers/header', {user}); %>
        <div style="direction:rtl; padding:35px; text-align: center;">
            <h1>ברוכים הבאים לאתר STARS</h1>
            <h2>
                האתר הינו רשת חברתית לשיתוף ידע עבור מפתחים מנוסים וחברות מובילות
            </h2>
            <h2>
                ההרשמה נעשת דרך בקשת רישום לאתר<br>
            </h2>
            <h2>
                האתר מהווה פלטפורמה לפרסום כתבי עת בתחום הIT<br>
                ופתוח לקריאה לכולם
            </h2>
            <h3>
                    לדוגמא, במסגרת הפיתוח שלך באחת הפרוייקטים, השתמשת באחד הפריימוורקים עם קוד פתוח<br>
                    שמת לב, שחסר לך אופציה מסויימת שהייתה חוסכת לך הרבה שורות קוד וזמן(לדוגמא פונק' חץ או איטרציה על אובייקט)<br>
                    פתחת את הקוד של הפריימוורק, הוספת את הפיצ'ר הזה, ועשית פול-רקוואסט.<br>
                    'אתה רוצה לחלוק את המידע הזה עם קהילת המפתחים, למה אתה חושב שזה נחוץ, מתי ואיך כדאי להשתמש בזה וכו<br>
                    בשביל זה יש את STARS!<br>
                    אתה מפרסם פוסט, בו אתה מסביר את הרציונל מאחורי הפיתוח שלך, על הבעיה ועל הפתרון<br>
            </h3>
            <h3>
                או לחלופין, חברה גדולה, שמפתחת מוצרים גם עם קוד פתוח, רוצה לפרסם אודות הגרסה החדשה של המוצר שלהם<br>
                או חברת אבטחת מידע מפרסמת כתבה בנושא ההתמחות שלה.
            </h3>
            <h2>
                +<br>
                <h3>
                    לכל פובליקציה ניתן לחבר האבים, ע"מ להקל את החיפוש העתידי ומשמש גם ככותרת
                    (כמפתח וואב, אולי לא יעניין אותי כרגע לקרוא בנושא C++ ואלגוריתמים)<br>

                </h3>
            </h2>
            <h2>
                פובליקציות<br>
                <h3>
                        רשימת פובליקציות(פרומואים לפובליקציות), ממוינים לפי תאריך פרסום מהחדש לישן.<br>
                        ניתן לראות את ההאבים, את כמות הלייקים והאנלייקים.<br>
                        ע"מ לקרוא את כל הכבתה, צריך ללחוץ על הלינק "קרא עוד" מתחת לפרומו-טקסט<br>
                        ניתן להשאיר תגובות, לשים לייקים ואנלייקים לפוסט ולתגובות.<br>
                </h3>
            </h2>
            <h2>
                STAR, COMPANIES<br>
                <h3>
                    רשימת של רשומים(ממוינים לפי דירוג),כמה זמן רשום, לינק לכל הפובליקציות שלו, דירוג, לינקים לרשתות החברתיות ולגיט-האב<br>
                    כמות הפובליקציות משמש כלינק לכל הפובליקציות של אותו משתמש,<br>
                    שם ניתן(טרם מומש) לעשות חיפוש רק על הפוסטים של המשתמש
                </h3>
            </h2>
            <h2>
                HUBS(טרם מומש)<br>
                <h3>
                    פילטר פוסטים לפי נושא מסויים
                </h3>
            </h2>
            <h2>
                COFFEE(טרם מומש)<br>
                <h3>
                    ע"מ להשאיר את אזור הפובליקציות נקי, איכותי ומסודר<br>
                    יש אזור קופי, שנועד לדיונים מעניינים ובעיקר פוסטים שלא ממש נכנסים לפורמט האתר, אך עדיין יש  צורך בפרסומם.<br>
                    מהתחלה כל משתמש חדש מקבל את האופציה לפרסם היכן שבא לו(בפיד המרכזי או בקופי)<br>
                    אך לאחר כמה פרסומים בפיד המרכזי במקום הקופי, כל הפרסומים בפיד המרכזי יהיו חייבים לעבור דרך אישור האתר.<br>
                    לקופי
                </h3>
            </h2>
            <h2>
                חיפוש<br>
                <h3>
                    הטקסט בחיפוש יחפש בתגובות, פוסטים, כותרות, שמות.<br>
                    ניתן לחפש רק בהאבים ספציפיים, או לחילופין, לעשות חיפוש כללי רק לפי האב שמעניין אותך<br>
                </h3>
            </h2>
        </div>
    </body>
</html>


